﻿header, footer, body, .video-container {
    background-color: aliceblue;
    font-family: "Helvetica 65 Medium", sans-serif;
}
/* Простые селекторы */
.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}
/* Приоритет стиля селектора по идентификатору #*/
#header-id {
    color: #44453f;
}
/* Стили семантических элементов сайта*/
header {
    padding-left: 1%;
    padding-top: 1px;
    color: black;
}
body {
    padding-left: 10%;
}
footer {
    position: absolute;
    /*bottom: 0;*/
    font-size: medium;
    /*color: dimgrey; */
    
    line-height: 66%; /* высота строки - межстрочное расстяние*/
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: cadetblue ; /* Черный цвет фона не хочу = #111(задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 3%;
    font-size: large;
}

/* Стили панели навигации */
.navbar p {
    color: darkblue;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue; /*aliceblue darkblue cadetblue darkgray*/
    }

/* Стили панели(?) поиска */
.search-container {
    display: inline-block;
    /*margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;*/
    color: darkblue;
}
    .search-container:hover {
        color: darkred;
        margin: 12 px;
        border: 2px solid darkred;
    }
#search-id:focus {    
        padding: 1px;
        border: 2px solid red;
}