
/* Стили слайдера */
.slider-panel {
    /*display: inline-block;*/
    position: relative;
    width: 100%;
    /*margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;*/
    /*color: darkblue;*/
    /*border: 2px solid blue;*/
    color: blue;
    padding: 5px;
}

.slider-info {
    width: 100%;
    /*border: 2px solid red;*/
    margin-top: 2px;
    border-top: 2px solid grey;
    padding-top: 4px;
}

.slider-button {
    /*display: inline-block;*/
    /*width: auto;*/
    width: 30px;
    height: 15px;
    margin: 4px; /**/
    /*padding: 16px;*/
    color: darkred;
    /*color: white;*/
    /*margin-top: 0.5em;
    
    padding-top: 1%;*/
    /*color: darkred darkblue;*/
    /*color: blue;*/
    margin: 4px;
    padding: 2px;
    border: 2px solid aliceblue;
    /*height: 100%;*/
}

    .slider-button:hover {
        /*display: inline-block;*/
        /*margin-top: 0.5em;    
    padding-top: 1%;*/
        /*color: darkred darkblue;*/
        /*color: blue;*/
        /*color: darkred;   
    border: 2px solid darkred;*/
    }
/* Приоритет стиля селектора по идентификатору #*/
#btnSliderPrev {
    left: 0px;
}

#btnSliderNext {
    /*float: right;*/
    margin-left: auto
}

    #btnSliderPrev:hover, #btnSliderNext:hover {
        /*color: blue;*/
        /*color: darkred;*/
        /*border-bottom:2px solid darkred;*/
        border: 2px solid darkred;
    }

.slider-img {
    display: inline-block;
    /*margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;*/
    /*color: aliceblue;*/
    /*width: 25%;*/
    /*color: blue;*/
    width: 250px;
    border: 2px solid aliceblue;
}
    /* Стили панели при наведении мышью */
    .slider-img:hover {
        color: darkred;
        background-color: darkgrey;
        border-bottom-color: darkblue;
        /*color: blue; darkblue; darkred*/
        /*display: inline-block;*/
        /*анимация увеличения размера картинки*/
        /* width: 300px;
        -webkit-transition: all;
        -webkit-transition-duration: 500ms;*/
    }

input {
    border: 2px solid darkgrey;
    border-radius: 2px;
    outline: none;
    position: relative;
    top: 50%;
}
    input:focus {
        border: 2px solid dimgrey;
    }
