<!--<p>===> Слайдер <===</p>-->
<link href="../Static/CSS/slider.css" rel="stylesheet" type="text/css">
<script src="../Static/JS/slider.js" type="text/javascript"></script>
<div class="slider-panel">
    <span class="slider-button">
        <!--<input type="button" id="btnSliderPrv" value="Prev Image " onclick=" alert('Prev Image')">-->
        <input type="button" id="btnSliderPrev" value="Prev Image " onclick="btnPrevClick()">
    </span>
    <span class="slider-img"> Slider image 1 </span>
    <span class="slider-img"> Slider image 2 </span>
    <span class="slider-img"> Slider image 3 </span>
 
    <span class="slider-button">
        <!--<input type="button" id="btnSliderNxt" value="Next Image " onclick="toggleRewPanel()">-->
        <!--<input type="button" id="btnSliderNxt" value="Next Image " onclick=" alert('Next Image')">-->
        <input type="button" id="btnSliderNext" value="Next Image " onclick="btnNextClick()">
    </span>
</div>
