<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot-about</title>
    <!-- <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"> -->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js" type="text/javascript" ></script>

</head>
<header id="header-id">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>LifeSpot-V1.22! About page</p>
</header>
<!--SIDEBAR-->
<body>
    <p>О проект LifeSpot.</p>
    <p>Тестовое задание для ознакомления с HTML, CSS, JavaScript...</p>
    <p>HTML: Юнит 26</p>
    <p>CSS:  Юнит 27</p>
    <p>JavaScript:  Юнит 28</p>
    <p>И ничего более ...</p>

    <div class="reviews-panel">
        <div class="review-button">
            <!--<button>Оставить отзыв </button>-->
            <!-- <p><input type="button" value="Отзыв" onclick="GetUserRet()"></p> -->
            <input type="button" value="Отзыв" onclick="GetUserReview()">
        </div>
        <div class="reviews">
            <div class="review-text">
                <div id="review-user" 
                    <p> <i> <b>Иван</b>  2023-07-25, 17:15:22 </i></p>
                 </div>
                <div>
                    <p> Мой отзыв. Я так скажу - баловство все это ..... </p>
                 </div>                
            </div>
        </div>
    </div>
</body>
<!--FOOTER-->
</html>