<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot-Test</title>
    <!-- <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"> -->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!--<script src="../Static/JS/test.js" type="text/javascript"></script>-->

</head>
<header id="header-id">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>test page</p>
    <!--SLIDER-->
</header>
<!--SIDEBAR-->
<body>
    <p>Приветствуем на LifeSpot-Test!</p>
    <p>test page</p>
</body>
</aside>
<!--FOOTER-->
</html>